name: Dorar Scrapers

on:
  workflow_dispatch:

jobs:
  scraper-ar:
    runs-on: ubuntu-latest
    timeout-minutes: 360
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: pip install -r requirements.txt
      - run: python Scraper_ar.py
      - run: zip -r output_ar.zip dorar_arabia/
      - uses: actions/upload-artifact@v4
        with:
          name: output-ar
          path: output_ar.zip
          retention-days: 7

  scraper-rfs:
    runs-on: ubuntu-latest
    timeout-minutes: 360
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: pip install -r requirements.txt
      - run: python Scraper_rfs_114.py
      - run: zip -r output_rfs.zip dorar_tafseer/
      - uses: actions/upload-artifact@v4
        with:
          name: output-tfs
          path: output_tfs.zip
          retention-days: 7

  scraper-sections:
    runs-on: ubuntu-latest
    timeout-minutes: 360
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: pip install -r requirements.txt
      - run: python Scraper_sections_tfs.py
      - run: zip -r output_sections.zip dorar_by_section/
      - uses: actions/upload-artifact@v4
        with:
          name: output-sections
          path: output_sections.zip
          retention-days: 7
